p{
    font-family: 'Montserrat', sans-serif;
}
.search-bar{
    font-size: 20px;
    margin-left: 12px;
    display: block;
}
.video-author, .video-stats{
    display: block;
}
.image-video{
display: block;
}
.video-info{
    display: flex;
}
.video-preview{
    width: 300px;
    height: 350px;
    margin-right: 20px;
    display: inline-block;
}

.profile-picture{
    width: 50px;
    height: 100px;
    display: inline-block;
}
.video-description{
    display: inline-block;
    width: 250px;
}
.channel-picture{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 100px;
}
.video-description{
    margin-left: 10px;
    width: 240px;
    height: 175px;
}
.thumbnail{
    width: 300px;
    height: 175px;
}
.video-title, .video-author, .video-stats{
    margin-top: 1px;
    margin-bottom: 5px;
}